rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
      function isAuthenticatedWithUid(uid){
        return (request.auth!=null && request.auth.uid==uid)
      }
      function hasRoles(roles){
        return request.auth.token.roles.hasAll(roles);
      }

      match /profile/{uid} {
        allow read: if true;
        allow write: if isAuthenticatedWithUid(uid)
      }

      match /{allPaths=**} {
        allow read, write: if true;
      }
  }
}
